.main-container{
    background-color: rgb(53, 53, 53);
    width: 350px ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  
   .selection-cont {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
   }
  
   .selection-cont p{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
    }
  
    select{
      font-size: 17px;
      padding: 5px;
      border-radius: 10px;
      border: none;
      height: 30px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
  
    select:focus {
      outline: none;
    }
  
    option {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 700;
      color: rgb(225, 214, 4);
    }
  
    button {
      background-color: rgb(53, 53, 53);
      border: 2px solid white;
      border-radius: 5px;
      color: white;
      font-size: 25px;
      font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    button:hover{
      background-color: white;
      color: rgb(255, 242, 0); 
      border: none;
      padding: 3px 10px;
      cursor: pointer;
    }
  
    .result-container{
      display: flex;
      background-color: yellow;
      margin: 10px;
      width: 200px;
      justify-content: space-evenly;
      border-radius: 10px;
    }
   
    .result-container p {
      color: gray;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 700;
    }

  .conversion-history{
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
