<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Currency Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="main-container">
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
      <div class="selection-cont">
          <input type="text">
          to
          <input type="text">
      </div>
      <button>Submit</button>
      <div class="result-container">
          <p>1 USD = 1 USD</p>
      </div>
  </div>
</ion-content>
